.formdiv {
	width: "33%";
	float: left;
	display: inline;
	margin: 10px;
	padding: 10px;
}

div#div_createFolder{
	visibility: hidden;
}

div#div_createDocument{
	visibility: hidden;
}

* {list-style: none;}

ul li {
  margin-left: 15px;
  position: relative;
  padding-left: 5px;
}

ul li::before {
  content: " ";
  position: absolute;
  width: 1px;
  background-color: #000;
  top: 5px;
  bottom: -12px;
  left: -10px;
}

body div > ul > li:first-child::before {top: 12px;}

ul li:not(:first-child):last-child::before {display: none;}

ul li:only-child::before {
  display: list-item;
  content: " ";
  position: absolute;
  width: 1px;
  background-color: #000;
  top: 5px;
  bottom: 7px;
  height: 7px;
  left: -10px;
}

ul li::after {
  content: " ";
  position: absolute;
  left: -10px;
  width: 10px;
  height: 1px;
  background-color: #000;
  top: 12px;
}

img {
	width:1em; height: 1em; ;line-height: 1em;
	}
	
#draggable {
  text-align: center;
  background: white;
}

.dropzone {

}

.dropzone span {
    pointer-events: none; /* Questo permette al drop di funzionare anche sopra lo span */
}

.dropzone.dragover {
  background-color: #e6e6e6;
}

.dropzone-delete {

}

.dropzone-delete span {
    pointer-events: none; /* Questo permette al drop di funzionare anche sopra lo span */
}

.dropzone-delete.dragover {
  background-color: #ff0000e6;
}

.dragging {
  opacity: 0.5;
}

.dragging::before, .dragging::after{
	display: none !important;
}

.alertmessage {
        color: red;
        font-size: 18px;
}

body {
  /* Prevent the user selecting text in the example */
  user-select: none;
}